<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>댓글 수정</title>
    <link rel="stylesheet" href="/board/style2.css">
</head>
<body>
<h1>댓글 수정</h1>
<form th:action="@{/comments/update/{id}(id=${comment.id})}" method="post">
    <label for="content">댓글 내용:</label>
    <textarea id="content" name="content" required th:text="${comment.content}"></textarea>
    <br>
    <button type="submit">수정</button>
    <a th:href="@{/board/detail/{id}(id=${comment.board.id})}">취소</a>
</form>
</body>
</html>
